/* 
COLOR PALETTE:
Dark Green ~ #032A2E
Carribean Current (dark teal) ~ #006D77
Tiffany Blue (light teal) ~ #83C5BE
Alice Blue (off white) ~ #EDF6F9
Pale Dogwood (peach) ~ #FFDDD2
Atomic tangerine (burnt orange) ~ #E29578

FONTS:
Ropa Sans 400 Normal ~ Header/Logo
Trirong Extra Light 200 Italic ~ Sub-Headers
Open Sans 300 400 ~ Body Text

ICONS:
Bed: <span class="material-symbols-round">bed</span>
Moon: <span class="material-symbols-rounded">bedtime</span>

*/

@import '~flatpickr/dist/flatpickr.css';

* {
  /* border: 1px solid #006D77; */
}

body {
  background: #EDF6F9;
  font-size: 62.5%;
  padding: 3em;
}

h1,
.date-picker,
.search,
.room-selection {
  cursor: pointer;
}

.error-message {
  text-align: center;
}

/* HEADER */

header {
  padding: 0 6em;
  height: 10em;
}

.header-content,
h1,
.date-search {
  margin: 0;
  height: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Ropa Sans', sans-serif;
  color: #006D77;
  font-size: 6rem;
}

.date-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 100%;
  color: #006D77;
}

input,
.flatpickr-calendar,
p {
  font-family: 'Open Sans', sans-serif; 
  font-size: 1rem;
  color: #032A2E;
  margin: 0.5em;
  font-weight: 300;
}

input {
  padding-left: 2em;
}

.date-picker-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
}

.icon-calendar {
  font-size: 3rem;
  color: #83C5BE;
}

.date-picker {
  width: 90%;
  height: 50%;
}

.date-picker:focus-visible,
button:focus-visible {
  outline: 2px solid #E29578;
}

.date-picker,
.search,
select {
  height: 75%;
  border: 1px solid #FFDDD2;
}

.search {
  width: 30%; 
  font-family: 'Trirong', serif;
  font-size: 2rem;
  background-color: #83C5BE;
  color: #FFFFFF;
  margin: 0;
}

/* BOOKINGS */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em;
}

.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em;
  background-color: #FFFFFF;
  margin: 0;
  width: 100%;
}

.bookings,
.date-picker,
.search,
select {
  box-shadow: 0 0 4px #FFDDD2;
}

.bookings-header,
.search-header {
  display: flex;
  width: 85%;
  margin: 4em 7em 2em;
  align-items: center;
  justify-content: space-between;
}

.bookings-cost,
.filter-container {
  display: flex;
  font-family: 'Trirong', serif;
  font-size: 1.4rem;
  color: #032A2E;
  margin: 0;
}

.bookings-cost {
  width: 20%;
  align-items: baseline;
}

.filter-container {
  width: 25%;
  align-items: center;
}

select {
  height: 2rem;
}

select:focus-visible {
  outline: 1px solid #E29578
}

.bookings-cost-insert,
select {
  margin-left: 1em;
}

.bookings-list,
.bookings-searched {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 4em;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFDDD2;
  padding: 2em 0 ;
  margin: 2em;
  width: 20%;
  border: 1px solid #FFDDD2;
  box-shadow: 0 0 10px #EDF6F9
}

.booking-date {
  font-weight: 300;
}

.room-image{
  width: 50%;
  border-radius: 6px;
}

.room-details {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

h2, h3 {
  font-family: 'Trirong', serif;
  color: #032A2E;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  text-align: center;
}

/* CONFIRMATION OVERLAY */
.book-room-view {
  z-index: 1;
}

.background-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 109, 119, 0.75);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation {
  position: static;
  width: 40%;
  height: 60%;
  background-color: #EDF6F9;
  box-shadow: 0 0 4px #EDF6F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmation-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding-top: 2em;
}

.book-now,
.home {
  border: none; 
  width: 60%;
  margin-top: 1em;
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home {
  width: 40%;
}

/* HIDDEN/INVISIBLE */

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}